<RunSettings>
  <!-- MSTest adapter -->
  <MSTest>
    <MapInconclusiveToFailed>True</MapInconclusiveToFailed>
    <CaptureTraceOutput>false</CaptureTraceOutput>
    <DeleteDeploymentDirectoryAfterTestRunIsComplete>False</DeleteDeploymentDirectoryAfterTestRunIsComplete>
    <DeploymentEnabled>False</DeploymentEnabled>
    <AssemblyResolution>
      <Directory path="C:\Users\lassc\Documents\Code\unity\tmp\unity-bare-bones-lobby\Library\ScriptAssemblies\" includeSubDirectories="false"/>
    </AssemblyResolution>
  </MSTest>

</RunSettings>